<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .box
            .top
                h2
                    span
                .tag
                .cirbutton
            .bottom
                ul
                    li
                        span
                    li
                        span
                    li
                        span
                    li
                        span
                .buttons
                    .btn.btnWebsite
                        a(href="")
                    .btn.btnNews